/* MAIN */
/* * {cursor: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag:none;} */
body{background-size: cover; background-repeat: no-repeat; overflow:hidden; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica; font-weight:300; background-color:#f1f1ec; cursor: none; }
p{margin:0; color:#26313d; font-size:30px;}
h2{font-size:70px; color:#cc0066; font-weight:300; line-height:100%; margin:100px 0 35px 0;}
h5{color:#26313d; }
.st2{fill:#000;}
button{font-size:30px; min-width:210px; border:none; color:#f1f1ec; font-weight:300; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica;  padding:15px 20px 14px 20px; border-radius:45px; margin-top:120px;}
button[data-button="pink"]{background:#cc0066;}
button[data-button="transparent"]{margin: 0; left: 50%; position: relative; transform: translate(-50%, -50%); background: transparent; color: #26313d; border: 1px solid #26313d; opacity: 1; pointer-events: none; transition: ease .3s all; float: left;}
button[data-button="transparent"].visible{background:#cc0066; pointer-events:auto; border:1px solid transparent; color:#f1f1ec;}
:focus {outline:0;}
.hidden{opacity:0; pointer-events:none;}

/* FONTS */
@font-face {
	font-family: 'Rubik-Light';
	src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Rubik-Light.woff') format('woff'), url('../fonts/Rubik-Light.ttf')  format('truetype'), url('../fonts/Rubik-Light.svg#Rubik-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

.languages{position:absolute; top:50%; transform:translate(0%, -50%); left:100px; display:flex; flex-direction:column;}
	.languages div{position:relative; transition:ease .3s all; margin:11px 0; font-size:18px; border:1px solid #26313d; border-radius:50%; width:60px; height:60px;}
		.languages div.active{border:1px solid #cc0066;}
			.languages div span{top: 50%; position: relative; transition:ease .3s all; transform: translate(0, -50%); float: left; width: 100%;}
				.languages div.active span{color:#cc0066;}
.home_btn{position: absolute; top: 120px; left: 100px; width: 60px; height: 60px; border: 1px solid #26313d; border-radius: 50%;}
	.home_btn img{top:50%; position:relative; transform: translate(0, -50%);}

.choose_gender_images{width: 776px; height: 549px; position: relative; margin-left: 48%; transform:translate(-50%, 0); margin-top: 5%;}
	.choose_gender_images img{position:absolute; top:0; transition:ease .3s all;}
		.choose_gender_images img.g1{bottom:0; left:0;}
		.choose_gender_images img.g2{right:0;}
			.choose_gender_images img.not_active{opacity:.4;}

.selected_appearance p{color:#f1f1f1;}
	.partners_count h2{font-size:300px;}

/* TULBAD */
.row{width:250px; height:370px; display: inline-table; margin-left: 83px; margin-top:100px;}
	.row:nth-child(1){margin-left:0px;}


/* TULBA NUPUD*/
.row_nupud{position:relative;border:1px solid #26313d; width: 400px; height: 70px; margin-bottom: 31px; border-radius: 40px; overflow: hidden;}
.row p {font-size: 28px;}
.row_nupud p {position: relative; top: 50%; transform: translateY(-50%);}
.row #tulba_pealkiri{margin-bottom: 30px;}

/* ANIMATSIOON */

.row_nupud:before { content: ""; position :absolute; height:100%; width: 0px; background-color: #4d004d; transition: width .6s ; left: 0; top: 0; }

.row_nupud.selected_appearance:before { width:400px; transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66); }

/* KALKULAATOR */

.container{ display:flex; justify-content:center; width: 100%; margin-top: 155px; }

.calculator { display:flex; border:1px solid #26313d; height: 250px; width: 185px; border-radius: 35px; flex-direction: column; justify-content:center; }

.calc_row{ display:flex; flex-direction: row; justify-content:center; margin-top: 9px; }

.calc_button{ display:flex; width:40px; height:40px; border-radius: 50%; background-color: #26313d; text-align: center; color: #ffff; align-items: center; justify-content: center; margin: 0px 6px; font-size: 20px; }

.calc_button_erase{ width:90px; height:40px; border-radius: 20px; background-color: #26313d; margin: 0px 6px; display:flex; justify-content: flex-end; align-items: center; }

.calc_button_erase img{ width:23px; height: 15px; margin-right: 14px;}

.calc_cm_kg_bmi{ width: 300px; height: 250px; margin-right: 70px; }

.bmi_button{ position:relative; border:1px solid #26313d; color: #26313d; width: 300px; height: 70px; margin-bottom: 20px; border-radius: 36px; overflow: hidden; display:flex; align-items: center; justify-content: center; transition: ease .3s all; }

.bmi_value{ position:relative; border:1px solid #332d71; width: 300px; height: 70px; margin-bottom: 20px; border-radius: 36px; overflow: hidden; background-color: #332d71; display:flex; align-items: center; justify-content: center; }

.bmi_weight { margin: 80px 0px 80px 0px; color:#cc0066; }

.bmi_p_value { font-size: 25px; flex: 1; }

.cm_kg_bmi{ padding-right: 38px; width: 32px; margin-left: -35px; }

.cm_kg_bmi p{ font-size: 19px; }

.cm_kg_bmi p[data-translation="bmi"]{color: #f0f1eb;}

.bmi_value > .bmi_p_value{color: #f0f1eb;}

.focus{ box-shadow: 0px 0px 17px #26313d; }

/* SVG */

.svg_graph{margin-top:50px;}

.arrow{ transform: rotate(-16.5deg); transform-origin: 338.43px 321.07px; transition: ease .3s all; transition:ease 1.5s all;}

.risk_value h2{ color: #332d71; margin-top:25px; margin-bottom: 65px; }

.add_factor{ min-width: 400px; margin-top: -20px; }

/* Risk rows */
.risk_container{ display: flex; justify-content: center;}

.risk_row{width:200px; height:270px; margin-top: 140px; display: flex; flex-direction: column; justify-content: space-between;}

.risk_button{display:flex; flex-direction: column; align-items: center;}

.risk_button_answer{ width:140px; height: 50px; border-radius: 25px; background-color: #332d71; margin-top:10px; transition: ease .3s all; display: flex; align-items: center;}

.risk_name{font-size: 19px;}

.risk_button_active{background-color: #cc0066;}

.risk_button_circle{width: 40px; height: 40px; border-radius: 50%; background-color: #f0f1eb; transform: translateX(5px); transition: ease .3s all;}

.risk_button_no{color: #f0f1eb; font-size: 20px; margin-left: 4px; transition: ease .3s all;}

.risk_button_yes{color: #f0f1eb; font-size: 20px; margin-left: -7px; transition: ease .3s all;}

.risk_text{opacity: 0;}


/* VIEW 1 */
.view[data-view="1"] img{margin-top:173px;}
.view[data-view="1"] h2{margin-top: 60px;}

/* VIEW 3 */
.view[data-view="3"] p[data-translation="years_old"]{color:#cc0066; position: relative; top:250px;}
.view[data-view="3"] h2[data-translation="vanus"]{position: relative; top:277px;}
.view[data-view="3"] button[data-button="transparent"]{top:347px;}


/* VIEW 4 */
.view[data-view="4"] button[data-button="transparent"]{top:120px;}

/* VIEW 7 */
.view[data-view="7"] .svg_graph{margin-top: 86px; margin-left: 110px; margin-right: 110px;}
.view[data-view="7"] button[data-button="transparent"]{ pointer-events: all;}

/* VIEW 8 */
.view[data-view="8"] h2{float: left; width: 100%;}
.view[data-view="8"] p{width:860px; left: 50%; position: relative; transform: translate(-50%, -50%); margin-bottom: -630px; padding-top: 920px;}
.view[data-view="8"] {background-color: #a0dae3;}