.dragdealer {width: 1000px;height: 20px;position: absolute;left: 50%;top: 46%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);border:7px solid #b90054; border-radius: 25px;}

.dragdealer .red-bar {border:none; height: 70px;width: 70px; border-radius: 50%; background-color: #251f5e; margin-top: -32px; margin-left: -7px;}
